@import 'tailwindcss';

@font-face {
  font-family: 'Inconsolata';
  src: url('/src/assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 200 900;
}

:root {
  /* Brand */
  --accent-1: #fd3737;
  --accent-1-shadow: 0 0 10px #fd3737, 0 0 20px #fd3737;
  --accent-2: #23c4ff;
  --accent-2-shadow: 0 0 10px #23c4ff, 0 0 20px #23c4ff;
  --accent-3: #82ff69;
  --accent-3-shadow: 0 0 10px #82ff69, 0 0 20px #82ff69;
  --accent-4: #f70dff;
  --accent-4-shadow: 0 0 10px#f70dff, 0 0 20px #f70dff;
  --accent-5: #efff0d;

  /* Semantic */
  --color-text: #ffffff;
  --color-page-bg: #373339;
  --color-card-bg: #474249;
  --color-button-bg: #2d2c2e;
  --color-button-bg-hover: #323133;
  --shadow-button-hover: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;

  /* Typography */
  --font-size-body: 1rem;
  --font-size-large: 1.25rem;
  --font-size-heading: 1.75rem;
  --font-weight-normal: 400;
  --font-weight-strong: 700;
}

body {
  font-family: 'Inconsolata', monospace;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
}

.typography-body {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
}

.typography-large {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-normal);
}

.typography-heading {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-strong);
}

.typography-button {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-strong);
}

.typography-strong {
  font-weight: var(--font-weight-strong);
}
